DJANGO_SECRET_KEY=secret-key-replace-me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=domain.com,www.domain.com

# For HTTPS
# SECURE_SSL_REDIRECT=True
# SESSION_COOKIE_SECURE=True
# CSRF_COOKIE_SECURE=True